/* CSS Reset from Meyerweb (http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
  height: 100%; 
  margin: 0; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  background-color: #3b4660;
  font-family: 'Quicksand', sans-serif;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    padding: 20px
}
/* Styling for the gameboard */
#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    width: 80vw; 
    height: 80vw;
    max-width: 500px; 
    max-height: 500px; 
    border: 1px solid #2c3244;
}

/* Styling for each cell in the game */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #2c3244;
    border-bottom: 1px solid #2c3244;
    background: #3b4660;
    color: #ffffff;
    cursor: pointer;
    font-size: 4rem;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-last-child(-n+3) {
    border-bottom: none;
}

/* Hover effect for cells */
.cell:hover {
    background-color:  #2c3244;
}

/* Styling for X and O */
#XO {
 
    position: absolute;
}

#O, #X {
    margin: 55px;
}

#X {
    color: rgba(255, 0, 0, 0.419);
}

#O {
    color: rgba(0, 0, 255, 0.419);
}

/* Hover effects for X and O */
#O:hover {
    color: rgb(0, 0, 255);
}

#X:hover {
    color: rgb(255, 0, 0);
}

/* Styling for the game container */
#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    display: none;
   
    
}

/* Reset button styling */
#reset {
    margin: 20px ;
    padding: 10px;
    border-radius: 10px;
    background-color: #3b4660;
    color: #FFB000;
    border: 1px solid #FFB000;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    max-width: 250px;
    display: none;
    
}

/* Styling for turn container */
#turnContainer {
    color: #ffffff;
    font-size: 1.5rem;
    
}

/* Start button styling */
#start {
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}

#gameControls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#gameControls button{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3b4660;
    color: #FFB000;
    border: 1px solid #FFB000;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    max-width: 250px;
}

#gameControls button:hover{
    background-color:#FFB000;
    color:#3b4660
}

/* Hover effect for start button */
#start:hover {
    animation: jiggle 0.5s ease-in 1;
}

/* Keyframes for jiggle animation taken from codepen */
@keyframes jiggle {
    20% { transform: translateY(-13%); }
    40% { transform: translateY(13%); }
    60% { transform: translateY(-7%); }
    80% { transform: translateY(7%); }
}

/* Applying jiggle animation */
.jiggle {
    animation: jiggle 0.5s ease-in-out;
}

@media only screen and (min-width: 769px) {
    #gameControls {
    flex-direction: row;

}
}
