/* CSS Reset from Meyerweb (http://meyerweb.com/eric/tools/css/reset/) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b4660;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
}

body{
    height: 100%;
    min-height: 100vh;
}

main{
    flex: 1;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    padding: 20px;
}

footer{
    height: 40px;
    width: 100%;
    background-color: #2c3244
}
/* Styling for the gameboard */
#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    width: 80vw;
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid #2c3244;
}

/* Styling for each cell in the game */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #2c3244;
    border-bottom: 1px solid #2c3244;
    background: #3b4660;
    color: #ffffff;
    cursor: pointer;
    font-size: 4rem;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-last-child(-n+3) {
    border-bottom: none;
}

/* Hover effect for cells */
.cell:hover {
    background-color: #2c3244;
}

/* Styling for the game container */
#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#game{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px;
padding: 10px;
flex-direction: column;
}

#winningMessage {
    display: none;
}

/* Styling for turn container */
#turnContainer,
#winningMessage {
    color: #ffffff;
    font-size: 1.5rem;
}

/* Button stylings */
.button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3b4660;
    color: #FFB000;
    border: 1px solid #FFB000;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    max-width: 250px;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center;
}

.button:hover {
    background-color: #FFB000;
    color: #3b4660;
}

#gameControls {
    display: flex;
    margin: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#textContainer {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Hover effect for start button */
#start:hover {
    animation: jiggle 0.5s ease-in 1;
}

/* Responsiveness */
@media only screen and (min-width: 640px) {
    #gameControls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        height: 80vw;
        margin-top: 50px;
        max-width: 500px;
        max-height: 500px;
        border: 1px solid #2c3244;
    }

    #buttonContainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {

    #gameboard,
    #gameControls {
        width: 60vw;
        height: 60vw;
        font-size: 1em;
    }

    .cell {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1440px) {

    #gameboard,
    #gameControls {
        max-width: 600px;
        max-height: 600px;
        font-size: 1.2rem;

    }

    .cell {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 1920px) {

    #gameboard,
    #gameControls {
        max-width: 850px;
        max-height: 850px;
        font-size: 1.8rem;
    }

    .cell {
        font-size: 4rem;
    }
}

/* Keyframes for jiggle animation */
@keyframes jiggle {
    20% {
        transform: translateY(-13%);
    }

    40% {
        transform: translateY(13%);
    }

    60% {
        transform: translateY(-7%);
    }

    80% {
        transform: translateY(7%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Applying jiggle animation */
.jiggle {
    animation: jiggle 0.5s ease-in-out;
}