

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0;
    width: 300px

    
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    font-size: 50px;
    border: 1px solid white
}

#XO{
    font-size: 50px;
    position: absolute;

}:



#O #X{
    margin: 10px;
 
}

#game-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}